<div class="container">
  <% @pokemons.each do |pokemon| %>
    <%= link_to pokemon_path(pokemon) do %>
      <%= cl_image_tag pokemon.photo.key %>
      <%= pokemon.name %>
    <% end %>
  <% end %>

  <%= link_to "Tout les dresseurs", trainers_path %>
</div>
